<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.pageTitle}} | Url Shorter</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Link Shorter</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/checker">Checker</a>
            <a href="/new">New</a>
            {{ if .AuthData }}
            {{ if .AuthData.IsAuthenticated }}
            <a href="/users/logout">Logout</a>
            {{ else }}
            <a href="/users/login">Login</a>
            {{ end }}
            {{ end }}
        </nav>
    </header>
    <main>
        {{template "content" .}}
    </main>
    <footer>
        Powered By
        <strong><a href="https://github.com/enchant97/url-shorter">Link Shorter</a></strong>
    </footer>
</body>

</html>
