{{define "content"}}
<section>
    <h2>Short Checker</h2>
    <p>Use to ensure a short link goes where you expect.</p>
    <form action="/checker" method="get">
        <label for="short-id">Short ID</label>
        <input type="text" name="short-id" id="short-id" required>
        <button type="submit">Check</button>
    </form>
</section>

{{if .short}}
<section>
    <h2>Short - {{ .shortID }}</h2>
    <table>
        <caption>Info</caption>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ .short.ID | encodeIDPadded }}</td>
            </tr>
            <tr>
                <th>Target URL</th>
                <td><a href="/{{ .shortID }}">{{ .short.TargetURL }}</a></td>
            </tr>
            <tr>
                <th>Visit Count</th>
                <td>{{ .short.VisitCount }}</td>
            </tr>
            <tr>
                <th>Expiry</th>
                <td>{{ timeToHumanOr .short.ExpiresAt "never"  }}</td>
            </tr>
            <tr>
                <th>Max Uses</th>
                <td>{{ or .short.MaxUses "∞" }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ or .short.OwnerID "-" }}</td>
            </tr>
        </tbody>
    </table>
    <a href="/{{ .shortID }}">Go</a>
</section>
{{else}}
<section>
    <h2>Short - XXX</h2>
    <p>No ID Given</p>
</section>
{{end}}

{{end}}
