{{define "content"}}
<section>
    <h2>Create Account</h2>
    <form action="/users/new" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="password-confirm">Password Confirm</label>
        <input type="password" name="password-confirm" id="password-confirm" required>
        <button type="submit">Create</button>
        <p>Got an account already? <a href="/users/login">login</a> instead.</p>
    </form>
</section>
{{end}}
